{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Stocks</title>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div id="main-layout" class="container">
        {% if is_logged_in %}
        <div class="content">
            <!---to make the href work you need to put it around a anchor <a>-->
            <button onclick="showPortfolios()">Portfolio</button>
            <button onclick="redirectToHome()">Main-page</button>
        </div>
        {% endif %}
        <div class="button-container">
            <button type="submit", onclick="redirectToHome()">Home</button>
        {% if not is_logged_in %}
            <button type="submit" onclick="redirectToLogin()">Log In</button>
            <button type="submit" onclick="redirectToRegister()">Sign Up</button> 
        {% else %}
            <p>Hey, {{ username }} lets invest!.</p>
            <button onclick="redirectToLogout()">Logout</button>
        {% endif %}
        </div>
    </div>
    {% block content %}
    
    {% endblock %}
</body>
</html>