{% extends "base.html" %}

{% block title %}Register - CoolStocks{% endblock %}

{% block content %}
    <div id='register'>
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email", class="form-control" required></input>
            </div>
            <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}